{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>

	<head>		     
		<!--Import Google Icon Font-->
		<link href=" {% static 'css/material-icons.css' %}" rel="stylesheet">

		<link rel="stylesheet" href= " {% static 'css/materialize.min.css' %}">         
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<script type="text/javascript" src=" {% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src=" {% static 'js/materialize.min.js' %}"></script>
	       
        <script type="text/javascript" src=" {% static 'js/qrcode.min.js' %}"></script>

		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>

			Syte

		</title>

		
	</head>
	<body>		


<footer>  
  <div class="footer-copyright">
    <div class="container">
    © Informatorio 2017
    <a class="black-text text-lighten-4 right" href="/creditos">Créditos</a>
    </div>
  </div>
</footer>    
	</body>

</html>
